<h1>Privacy Policy</h1>

<p>Last updated: August 23, 2017</p>

<p>Fake Check Bot ("us", "we", or "our") operates the http://fakecheckbot.herokuapp.com website.</p>

<p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>

<p>By using the Service, you agree to the collection and use the message that you send to us.</p>

<h2>Information Collection And Use</h2>

<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name ("Personal Information").</p>

<h2>Contact Us</h2>

<p>If you have any questions about this Privacy Policy, please contact us.</p>
